.shop-search-bar {
    input {
        height: 40px;
        width: 100%;
        border: 1px solid #e6e6e6;
        border-radius: 20px;
        font-size: 20px;
        color: #808080;
        &::placeholder {
            color: #ccc;
        }
        &:focus {
            outline: none;
        }
    }
}

.search-bar-grid {
    display: grid;
    grid-template-rows: [s] 1fr [e];
    grid-template-columns: 20px [s] 1fr [e];
    &__icon {
        grid-row: s/e;
        grid-column: s/e;
        font-size: 18px;
        align-self: center;
        z-index: 1;
    }
    &__input {
        grid-row: s/e;
        grid-column: 1/e;
        padding-left: 50px;
    }
}