.shop-cart {
    display: grid;
    grid-template-rows: [tog-s] 40px [tog-e con-s] 1fr [con-e];
    grid-template-columns: [s] 1fr [e];
    grid-row-gap: 15px;
    transition: all .3s ease;
    
    &__toggle {
        grid-row: tog-s/tog-e;
        grid-column: s/e;
        justify-self: end;
        z-index: 2;
        &:hover {
            cursor: pointer;
        }
    }
    &__content {
        grid-row: con-s/con-e;
        grid-column: s/e;
        height: 675px;
        width: 520px;
        background-color: #333;
    }
}

.cart-button {
    display: grid;
    justify-items: center;
    align-items: center;
    background-color: #333;
    color: white;
    font-size: 28px;
    border-radius: 25px 0 0 25px;
    height: 40px;
    width: 76px;
}
.cart-content {
    display: grid;
    grid-template-rows: 25px [title-s] 40px [title-e products-s] 1fr [products-e footer-s] 113px [footer-e]; 
    grid-template-columns: [footer-s] 30px [s] 1fr [e] 30px [footer-e];
    &__title {
        grid-column: s/e;
        grid-row: title-s/title-e;
        font-weight: 600;
        font-size: 30px;
        font-family: 'Titillium Web';
        color: #E6E6E6;
    }
    &__products {
        display: grid;
        grid-row: products-s/products-e;
        grid-column: s/e;
        overflow-y: scroll;
        padding-top: 50px;
        grid-row-gap: 45px;
    }
    &__footer {
        display: grid;
        grid-row: footer-s/footer-e;
        grid-column: footer-s/footer-e;
    }
}


.cart-footer {
    display: grid;
    grid-template-rows: [s] 1fr [e];
    grid-template-columns: 50px [checkout-s] 1fr [checkout-e subtotal-s] 1fr [subtotal-e] 27px [price-s] 46px [price-e] 31px;
    height: 113px;
    background-color: #1a1a1a;
    align-items: center; 
    & > * {
        grid-row: s/e;
    }
    &__checkout {
        display: grid;
        grid-column: checkout-s/checkout-e;
        justify-items: center;
        align-items: center;
        height: 38px;
        width: 183px;
        border-radius: 20px;
        background-color: $bottega-green;
        color: white;
        font-size: 1.6rem;
        font-weight: 600;
        transition: all .3s ease;
        &:hover {
            transform: scale(0.97);
            cursor: pointer;
        }
        &:active {
            transform: scale(0.95);
        }
        &:focus {
            outline: none;
        }
    }
    &__subtotal {
        justify-self: end;
        grid-column: subtotal-s/subtotal-e;
        font-size: 18px;
    }
    &__price {
        grid-column: price-s/price-e;
        justify-self: start;
        font-size: 18px;
        color: white; 
        font-weight: 600;
    }
} 

.cart-hidden {
    transform: translateX(520px) 
}